.main-menu {
    position: absolute;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;

    .left-menu {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        padding: 0.5rem;
        cursor: pointer;

        h3{
            font-family: Montserrat;
            color: white;
            margin-left: 1rem;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 0.9rem;
        }

        &:hover .navi-icon > path {
            fill: $main-color;

        }

        &:hover h3 {
            color: $main-color;
        }

    }
    
    .sm-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-icons{
        display: flex;
        width: 25%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1rem;

        .social-media-icons {
            display: flex;
        }

        .cart-icon{
            margin-left: 1rem;
            display: flex;
            align-items:center;
            padding: 1rem;
            cursor: pointer;

            &:hover .navi-icon > path, &:hover .navi-icon > circle {
                fill: $main-color;
            }

            &:hover p {
                color: $main-color;
            }



            p {
                font-family: Montserrat sans-serif;
                color:white;
                font-weight: 600;
                font-size: 1.2rem;
                cursor: pointer;
            }

            .cart-svg{
                height: 2.3rem;
                margin-left: 0.5rem;
            }
        }
    }
}

.navi-icon{
    height: 1.7rem;
    width: auto;
    margin-left: 1rem;
    cursor: pointer;
    fill: #fff;
    &:hover > path, &:hover circle {
        fill: $main-color;
    }
}